{% extends "alumnos/index.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
<div class="container">
   <div class="row">
     <div class="col">
      <h3 class="py-2 text-primary text-center">Carga de alumnos</h3>
     </div>
     </div>
     <div class="row">
     <div class="col">
      <form action="{% url 'agregar' %}" method="post">

        {% if actualizar %}
          <form action="{% url  'actualizar_action' %}" method="post">
        {% else %}     
          <form action="{% url  'agregar'%}" method="post">
        {% endif %}



         {% csrf_token %} 
         {% bootstrap_form form %}
         {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}



         {% if actualizar %}
         {% bootstrap_button "Actualizar" button_type="submit" button_class="btn-success" %} 
         {% else %}
         {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
       {% endif %}


      </form>
     </div>
   </div>
 </div>

{% endblock %}