{% extends "alumnos/index.html" %}

{% load bootstrap5 %}

{% block cuerpo %}
<div class="container">
   <div class="row">
     <div class="col">
      <h3 class="py-2 text-primary text-center">Carga de Profesores</h3>
     </div>
     </div>
     <div class="row">
     <div class="col">
      <form action="{% url 'agregarp' %}" method="post">
         {% csrf_token %} 
         {% bootstrap_form form %}
         {% bootstrap_button "Guardar" button_type="submit" button_class="btn-primary" %}
      </form>
     </div>
   </div>
 </div>

{% endblock %}