
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Colegio Tolkien BD</title>
</head>
<body>
  
<header class="w-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="nav-link active" href="{% url 'index' %}"> Colegio Tolkien </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registroa' %}">Registro de alumnos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registrop' %}">Registro de profesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'registrom' %}">Registro de materias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'buscar' %}">Buscar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
{% block  cuerpo %}
<main class="py-3"> 

  <img src="https://i.ibb.co/TwwWpNK/Linked-In-Banner-Azul-Aerol-nea-General.png" class="img-fluid w-100" alt="imagen_tolkien">
 
</main>


{% endblock %}

<footer>
    <div class="text-center bg-light">
      <p class="text-primary pt-2">CoderHouse - Python 36585 - {% now 'd-m-Y' %}</p-2>
      <p class="pt-0 pb-0">Desarrollado por Romina Garcia Rojas</p>
</footer>

</body>
