{% extends "alumnos/index.html" %}

{% load bootstrap5 %}

{% block cuerpo %}

<main>
  <h1 class="fs-3 text text-center text-primary pt-3">Registro de profesores y directivos</h1>
</main>

<div class="container py-3">     
    <div class="row">
      <div class="col">
          {% if profesores %}
          <table class="table">
              <thead>
                  <th scope="col">Identificador</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Email</th>
                  <th scope="col">Fecha de Nacimiento</th>
                  <th scope="col">Cargo</th>
                  <th scope="col">Título habilitante</th>
                  <th scope="col">Acciones</th>
              </thead>
          
              {% for p in profesores %}
              <tbody>
                  <tr>
                      <th scope="row">{{p.id}} </th>
                      <td> {{p.nombre}} </td>
                      <td> {{p.apellido}} </td>
                      <td> {{p.email}} </td>
                      <td> {{p.fecha_nacimiento}} </td>
                      <td> {{p.cargo}}</td>
                      <td> {{p.titulo_habilitante}}</td>
                      {% url 'borrarp' identificador=p.id as borrarp_url %}
                      <td>{% bootstrap_button "Borrar" size="sm" button_class="btn-danger" button_type="link" href=borrarp_url %}</td>
                  </tr>  
              </tbody>
              {% endfor %}
          </table>
          {% else %}
              <p>No tienes profesores cargados</p>
          {% endif %}
      </div>
    </div>
  </div>    
  
  <div class="row text-center w-100">
      <div class="col pb-3">
        {% url 'agregarp' as agregarp_url %}
        {% url 'buscarp' as buscarp_url %}
        {% bootstrap_button "Agregar" button_class="btn-primary" button_type="link" href=agregarp_url %} 
        {% bootstrap_button "Buscar" button_class="btn-primary" button_type="link" href=buscarp_url %}  
      <div>
    <div>
<div class="py-3">
{% endblock %}
</div>